<p id="notice"><%= notice %></p>

<p>
  <strong>Product code:</strong>
  <%= @product_catalog.product_code %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product_catalog.product_name %>
</p>

<p>
  <strong>Quantities:</strong>
  <%= @product_catalog.quantities %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_catalog.price %>
</p>

<%= link_to 'Edit', edit_product_catalog_path(@product_catalog) %> |
<%= link_to 'Back', product_catalogs_path %>
