<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_code %>
    <%= form.text_field :product_code, id: :sale_product_code %>
  </div>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :sale_product_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :sale_quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :sale_price %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.date_select :created_at, id: :sale_created_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
