<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sales</h3>  
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th>Date/Time</th>
              <th>User</th>
              <th>Code</th>
              <th>Total</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @sales.each do |sale| %>
              <tr>
                <td><%= sale.created_at.strftime("%F - %T") %></td>
                <td><%= sale.user.email %></td>
                <td><%= sale.sale_code %></td>
                <td>€ <%= number_with_precision(sale.total, :precision => 2) %></td>
                <td><%= link_to 'View', sale, class: "btn btn-success"%></td>  
                <% if can? :update, Sale %>  
                <td><%= link_to 'Edit', edit_sale_path(sale), class: "btn btn-warning" %></td>  
                <%end%>  
                <% if can? :destroy, Sale %>  
                <td><%= link_to 'Delete', sale, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>  
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!--panel-body-->

      <div class="panel-footer">
        <% if can? :create, Sale %>
          <%= link_to 'New Sale', new_sale_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


