<div class="row">
  <div class="col-md-8.col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sale Item</h3>  
      </div>
      <div class="panel-body">
        <p>  
        <strong>User:</strong>  
        <%= @sale.user.email %>  
        </p>  
        <table class="table table-striped table-hover table-bordered">  
        <thead>  
        <tr>  
            <th>Product</th>
            <th>price</th>  
            <th>quantity</th>  
            <th>total</th>  
            </tr>  
        </thead>  
        <tbody>  
        <% @sale.items.each do |item| %>  
            <tr>  
            <td><%= item.product.name %></td>
            <td>€ <%= number_with_precision(item.product.price, :precision => 2) %></td>  
            <td><%= item.quantity %></td>  
            <td>€ <%= number_with_precision(item.total, :precision => 2) %></td>  
            </tr>  
        <% end %>  
        </tbody>  
        </table>  
        <hr>  
        <p> Total</p>  
        € <%= @sale.total%>  
        <hr> 
      </div>
      <div class="panel-footer">
        <div class="btn-group">
          <%= link_to 'Edit', edit_sale_path(@sale), class: "btn btn-warning" %> 
          <%= link_to 'Back', sales_path, class: "btn btn-default" %>
        </div>
        <div class="pull-right">
          <% if can? :create, Sale %>
            <%= link_to 'Add Another Sale', new_sale_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>